aclMethod: StaticAcl
#aclMethod: RemoteAcl
#aclMethod: VootAcl

StaticAcl:
    # mapping from "pool" to user IDs
    # below only user "me" can access the pool with ID "default" if "enableAcl" 
    # is set to true in pools.yaml
    default: [me]

RemoteAcl:
    # the request URL will be appended with the user ID, e.g. in the example 
    # below that would be: https://example.org/groups/me
    apiBaseUrl: https://example.org/groups

VootAcl:
    authorizeUri: https://voot.surfconext.nl/oauth/authorize
    tokenUri: https://voot.surfconext.nl/oauth/token
    baseUrl: https://voot.surfconext.nl/
    clientId: xyz
    clientSecret: abc
