aclMethod: StaticAcl
#aclMethod: VootAcl

StaticAcl:
    # three groups are defined here with identifiers 'all', 'students' and 
    # 'employees'. The groups have a member list and a display name
    all:
        displayName: All
        members: [foo, bar]
    students:
        displayName: Students
        members: [foo]
    employees:
        displayName: Employees
        members: [bar]

VootAcl:
    apiUrl: https://voot.surfconext.nl/me/groups

    # the directory where VOOT tokens are stored per user
    tokenDir: /var/lib/vpn-server-api/users/voot_tokens
