# API credentials
consumers:
    portal: uvwxyz
    admin: uuvvww

# API credentials for access to remote services
remoteApi:
    # required to obtain server certificates
    vpn-ca-api:
        uri: 'http://localhost:8008/api.php'
        token: aabbcc
