# VPN Client Configuration

IPv4:
    # total range of IP addresses available for clients
    ipRange: 10.42.42.0/24

    # dynamic range of IP addresses for clients without static IP
    poolRange: 10.42.42.128/25

    ipPoolDir: /var/lib/openvpn/pool
    staticConfigDir: /var/lib/vpn-server-api/static

IPv6: 
    prefix: 'fd00:4242:4242:4242'

# The Connection Log Database
Log:
    dsn: 'sqlite:/var/lib/openvpn/log.sqlite'
    #username: 'foo'
    #password: 'bar'
