# OpenVPN management sockets
openVpn:
    udp: 'tcp://localhost:7505'
    tcp: 'tcp://localhost:7506'

# CRL
crl:
    path: /var/lib/vpn-server-api

# API credentials
api:
    vpn-user-portal:
        scope: config_get_user openvpn_kill ca_crl_fetch
        token: uvwxyz
    vpn-admin-portal:
        scope: config_get config_update log_get openvpn_kill openvpn_info
        token: uuvvww

# API credentials for access to remote services
remoteApi:
    # required to fetch the CRL
    vpn-config-api:
        uri: 'http://localhost:8008/api.php'
        token: aabbcc
