instanceNumber: 1

# API consumers & credentials for clients using this service
apiConsumers:
    vpn-user-portal: uvwxyz
    vpn-admin-portal: uuvvww
    vpn-server-node: ccbbaa
   
vpnPools:
    internet:
        poolNumber: 1
        displayName: 'Internet Access'
        extIf: eth0
        useNat: true
        defaultGateway: true
        hostName: vpn.example
        range: 10.0.0.0/24
        range6: 'fd00:4242:4242::/48'
        dns: [8.8.8.8, 8.8.4.4, '2001:4860:4860::8888', '2001:4860:4860::8844']
