# OpenVPN management sockets
openVpn:
    udp1194:
        listen: '::'
        proto: udp
        port: 1194
        managementPort: 11940
    udp1195:
        listen: '::'
        proto: udp
        port: 1195
        managementPort: 11941
    udp1196:
        listen: '::'
        proto: udp
        port: 1196
        managementPort: 11942
    tcp1194:
        listen: '::'
        proto: tcp
        port: 1194
        managementPort: 11943

# CRL
crl:
    path: /var/lib/vpn-server-api

# API credentials
api:
    vpn-user-portal:
        scope: config_get_user openvpn_kill ca_crl_fetch info_get
        token: uvwxyz
    vpn-admin-portal:
        scope: config_get config_update log_get openvpn_kill openvpn_info info_get
        token: uuvvww

# API credentials for access to remote services
remoteApi:
    # required to fetch the CRL and server config
    vpn-ca-api:
        uri: 'http://localhost:8008/api.php'
        token: aabbcc
