# IP address configuration

# contains the configurations of the CN
configDir: /var/lib/vpn-server-api/config

firewall:
    # allow connections to these ports on the VPN server itself
    dst_port:
        - UDP/1194
        - UDP/1195
        - UDP/1196
        - TCP/22
        - TCP/80
        - TCP/443

# enable Two-factor Authentication on the server
twoFactor: false

v4:
    range: 10.42.42.0/24

    dns:
        # https://dns.watch/index
        - 84.200.69.80
        - 84.200.70.40
        # https://developers.google.com/speed/public-dns/
        #- 8.8.8.8
        #- 8.8.4.4

v6:
    prefix: 'fd00:4242:4242::/48'

    dns:
        # https://dns.watch/index
        - '2001:1608:10:25::1c04:b12f'
        - '2001:1608:10:25::9249:d69b'
        # https://developers.google.com/speed/public-dns/
        #- '2001:4860:4860::8888'
        #- '2001:4860:4860::8844'
