# OpenVPN Pool Configuration
#
# **NOTE**:
# When modifying this file, do not forget to run 
# "vpn-server-api-server-config --reuse" and "vpn-server-api-generate-firewall"
# and restart the instances/firewall to activate the new configuration

# contains the configurations of the CN
configDir: /var/lib/vpn-server-api/config

firewall:
    # allow connections to these ports on the VPN server itself
    dst_port: [UDP/1194, UDP/1195, UDP/1196, TCP/22, TCP/80, TCP/443]

# The VPN server pools
pools:
    default:
        # The address to listen on
        listen: '::'

        # the hostName to advertize to clients to connect to this pool
        hostName: vpn.example

        # IPv4 range for clients
        range: 10.42.42.0/24
        # IPv6 range for clients
        range6: 'fd00:4242:4242::/48'

        # use VPN as default gateway
        defaultGateway: true

        # Routes pushed to the clients, ignored when using defaultGateway
        #routes: [10.10.0.0/16, 192.168.1.0/24, 'fd00:1234:5678:9999::/64']

        # DNS servers to push to clients, only when using defaultGateway
        # https://developers.google.com/speed/public-dns/
        dns: [8.8.8.8, 8.8.4.4, '2001:4860:4860::8888', '2001:4860:4860::8844']
        # https://dns.watch/index
        #dns: [84.200.69.80, 84.200.70.40, '2001:1608:10:25::1c04:b12f', '2001:1608:10:25::9249:d69b']

        # enable Two-factor Authentication on the server
        twoFactor: false

        # allow client-to-client communication
        clientToClient: false

#    browse:
#        # The address to listen on
#        listen: 192.168.124.10

#        # the hostName to advertize to clients to connect to this pool
#        hostName: browse.vpn.example

#        # IPv4 range for clients
#        range: 10.42.42.0/24
#        # IPv6 range for clients
#        range6: 'fd00:4242:4242::/48'

#        # use VPN as default gateway
#        defaultGateway: true

#        # DNS servers to push to clients, only when using defaultGateway
#        # https://developers.google.com/speed/public-dns/
#        dns: [8.8.8.8, 8.8.4.4, '2001:4860:4860::8888', '2001:4860:4860::8844']
#        # https://dns.watch/index
#        #dns: [84.200.69.80, 84.200.70.40, '2001:1608:10:25::1c04:b12f', '2001:1608:10:25::9249:d69b']

#        # enable Two-factor Authentication on the server
#        twoFactor: false

#        # allow client-to-client communication
#        clientToClient: false

#    access:
#        # The address to listen on
#        listen: 192.168.124.11

#        # the hostName to advertize to clients to connect to this pool
#        hostName: access.vpn.example

#        # IPv4 range for clients
#        range: 10.43.43.0/24
#        # IPv6 range for clients
#        range6: 'fd00:4343:4343::/48'

#        # use VPN as default gateway
#        defaultGateway: false

#        # Routes pushed to the clients, ignored when using defaultGateway
#        routes: [10.10.0.0/16, 192.168.1.0/24, 'fd00:1234:5678:9999::/64']

#        # enable Two-factor Authentication on the server
#        twoFactor: true

#        # allow client-to-client communication
#        clientToClient: true
