# The log database
log:
    dsn: 'sqlite:/var/lib/openvpn/log.sqlite'
    #username: foo
    #password: bar

# The OTP database containing a log of used OTP keys to prevent replay
otp:
    dsn: 'sqlite:/var/lib/openvpn/otp.sqlite'
    #username: foo
    #password: bar
