# OpenVPN Pools Configuration
#
# A pool is a collection of OpenVPN instances running with the same
# configuration. The given IP space is split over the various instances. For 
# example a /24 is split over 4 networks of /26 which gives 3 UDP instances 
# on port 1194, 1195 and 1196 and one TCP instance on port 443.
#
# You can have multiple pools with completely separate configuration. You will
# have to modify the "listen" directive to give each pool its own IP address.
#
# **NOTE**:
# When modifying this file, do not forget to regenerate the configuration and
# activate it!
#
# $ sudo vpn-server-api-server-config --reuse
# $ sudo vpn-server-api-generate-firewall --install
# 
# and restart the instances/firewall to activate the new configuration!

configDir: /var/lib/vpn-server-api

# The VPN server pools
pools:
    default:
        name: Default Pool

        # The address to listen on (default: ::)
        #listen: '::'

        # the hostName to advertise to clients to connect to this pool
        hostName: vpn.example

        # external interface connecting to the Internet or destination networks
        # for this pool
        extIf: eth0

        # use NAT for this pool (default: false)
        useNat: true

        # IPv4 range for clients, at least a /29 is required
        range: 10.42.42.0/24

        # IPv6 range for clients, at least a /60 or bigger is required
        range6: 'fd00:4242:4242::/48'

        # use VPN as default gateway (default: false)
        defaultGateway: true

        # Routes pushed to the clients, ignored when defaultGateway is true
        # default: []
        #routes: [10.10.0.0/16, 192.168.1.0/24, 'fd00:1234:5678:9999::/64']

        # DNS servers to push to clients, only when defaultGateway is true
        # default: []
        # https://developers.google.com/speed/public-dns/
        dns: [8.8.8.8, 8.8.4.4, '2001:4860:4860::8888', '2001:4860:4860::8844']
        # https://dns.watch/index
        #dns: [84.200.69.80, 84.200.70.40, '2001:1608:10:25::1c04:b12f', '2001:1608:10:25::9249:d69b']

        # enable Two-factor Authentication on the server (default: false)
        #twoFactor: true

        # allow client-to-client communication (default: false)
        #clientToClient: true

        # enable OpenVPN logging (default: false)
        #enableLog: true

        # enable ACL for this pool (default: false)
        #enableAcl: true
 
        # specify the identifier(s) of the groups that have access to this pool
        #aclGroupList: [all]
